version: "3.9"

services:
  trainer:
    build:
      context: .
      dockerfile: docker/train/train.Dockerfile
    image: rakuten-trainer:latest
    container_name: rakuten_trainer
    volumes:
      - ./data:/app/data
      - ./mlruns:/app/mlruns
      - ./src:/app/src
    environment:
      - MLFLOW_TRACKING_URI=file:/app/mlruns
    working_dir: /app
    command: ["python", "-m", "train.train"]
